{% extends 'sd/base.html' %}
{% block title %} About us {% endblock %}
{% block content %}
{% load static %}
<div class="container">
	<div class="col">
		<div>
			<img src="{% static 'images/abou.jpg' %}" style="width: 100%" class="border rounded">
			<br>
			<h3 class="text-center"><b>Details</b></h3>
		</div>
		<div>
			<p>
				<b>
				ByChhavi KaushikDate- December 29, 2020
    			Yamaha recently filed a trademark application for its upcoming new model name – ‘Yamaha FZ-X’ – in India. As of now, there isn’t any information revealed on what the name will be used for. However, it’s speculated to be used for a new adventure motorcycle based on the Yamaha FZ25 series. The Japanese bikemaker has already revealed its plan to enter into the small-capacity adventure motorcycle segment.<br>
				The FZ25’s platform isn’t only relatively new and affordable, but compatible for adventure motorcycles as well. In fact, the bike’s engine is more relevant for the adventure bikes because of its simple construction and good low and mid-range performance. The platform sharing will also help the company price the upcoming new Yamaha FZ-X adventure bike more competitively.<br>
				The company might possibly make a minor update to its steering head to rework the geometry with longer travel suspension. Design of the new Yamaha adventure motorcycle will be slightly different from the FZ25. Though, it might also borrow some of its design bits from the Yamaha FZ25.<br>The FZ25 comes with all LED headlamp, LED DRL, under cowling and side stand with engine cut-off switch, multi-function negative LCD instrument console and more. The new model might also come with Yamaha’s new Bluetooth connectivity feature and switchable ABS (anti-lock braking system).<br>
				It would be quite early to comment on its engine specifications. Though, the new Yamaha adventure motorcycle is likely to share its powertrain with the FZ25. The latter one comes with a 249cc, single-cylinder, air-cooled SOHC engine paired to a 5-speed gearbox. The motor has been tuned for making power worth 206bhp and 20Nm of torque.
				Website	global.yamaha-motor.com
				Yamaha Motor Co., Ltd. (ヤマハ発動機株式会社, Yamaha Hatsudōki Kabushiki-gaisha) is a Japanese manufacturer of motorcycles, marine products such as boats and outboard motors, and other motorized products. The company was established in 1955 upon separation from Yamaha Corporation (however, Yamaha Corporation is still the largest private company shareholder with 9.92%, as of 2019),[1] and is headquartered in Iwata, Shizuoka, Japan. The company conducts development, production and marketing operations through 109 consolidated subsidiaries as of 2012.[2][3]<br>
				Led by Genichi Kawakami, the company’s founder and first president, Yamaha Motor began production of its first product, the YA-1, in 1955. The 125cc motorcycle won the 3rd Mount Fuji Ascent Race in its class.<br>
				The company's products includes motorcycles, scooters, motorized bicycles, boats, sail boats, personal water craft, swimming pools, utility boats, fishing boats, outboard motors, 4-wheel ATVs, recreational off-road vehicles, go-kart engines, golf carts, multi-purpose engines, electrical generators, water pumps, snowmobiles, small snow throwers, automobile<br> engines, surface mounters, intelligent machinery, industrial-use unmanned helicopters, electrical power units for wheelchairs and helmets. The company is also involved in the import and sales of various types of products, development of tourist businesses and management of leisure, recreational facilities and related services. Yamaha’s motorcycle sales are the second largest in the world[4]and Yamaha is the world leader in water vehicle sales.</b>
			</p>
		</div>
		<marquee behavior="scroll" direction="right" class="btn btn-dark" style="background-color: #00004d">Our Bikes Showroom will Give Excellent Models</marquee>
	</div>
</div>
{% endblock %}
