{% extends 'sd/base.html' %}
{% block title %} Contact us {% endblock %}
{% block content %}
{% load static %}
<div class="container mt-4">
	<h2 class="text-center border rounded btn btn-block btn-primary"><b><big>Employees List</big></b></h2>
	<div class="jumbotron ml-auto text-center" style="background-color: #b3f0ff">
		<img src="{% static 'images/profile.jpeg' %}" class="border rounded">
		<h3><b>Employee-1 Details</b></h3>
		<h4><b>Name</b> : Ch.Sairinivas</h4>
		<h4><b>Employee Id</b>   : 123HCL01</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +917337235905</h4>
	</div>
	<div class="jumbotron ml-auto text-center" style="background-color: #b3c6ff">
		<img src="{% static 'images/p1.jpg' %}" class="border rounded">
		<h3><b>Employee-2 Details</b></h3>
		<h4><b>Name</b> : C.lalith</h4>
		<h4><b>Employee Id</b>   : 123HCL0238</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +91945678567</h4>
	</div>
	<div class="jumbotron ml-auto text-center" style="background-color: #ffb3ff">
		<img src="{% static 'images/p2.jpg' %}" class="border rounded">
		<h3><b>Employee-3 Detais</b></h3>
		<h4><b>Name</b> : Ch.Srinivas</h4>
		<h4><b>Employee Id</b>   : 123HCL38</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +91765846859</h4>
	</div>
	<div class="jumbotron ml-auto text-center" style="background-color: #b3c6ff">
		<img src="{% static 'images/p3.jpg' %}" class="border rounded">
		<h3><b>Employee-4 Details</b></h3>
		<h4><b>Name</b> : Ch.Sai Divya</h4>
		<h4><b>Employee Id</b>   : 123HCL09</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +916548679584</h4>
	</div>
	<div class="jumbotron ml-auto text-center" style="background-color: #c2f0c2
">
		<img src="{% static 'images/p1.jpg' %}" class="border rounded">
		<h3><b>Employee-5 Details</b></h3>
		<h4><b>Name</b> : v.likhitha</h4>
		<h4><b>Employee Id</b>   : 123HCL0454</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +917337235905</h4>
	</div>
	<div class="jumbotron ml-auto text-center" style="background-color: #c6d9ec
">
		<img src="{% static 'images/p3.jpg' %}" class="border rounded">
		<h3><b>Employee-6 Details</b></h3>
		<h4><b>Name</b> : M.Saikumar</h4>
		<h4><b>Employee Id</b>   : 123HCL08384</h4>
		<h4><b>Company Name</b>   : Kyptron</h4>
		<h4><b>Email Id</b>   : Kyptronfirstnaturalbird@gmail.in</h4>
		<h4><b>Work</b> : Contact With Customer</h4>
		<h4><b>Office Number</b>   : +919456875698</h4>
	</div>
	<marquee behavior="scroll" direction="right" class="btn btn-dark" style="background-color: #00004d">Our Employees Will Help You</marquee>
</div>
{% endblock %}
