{% extends 'sd/base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
{% load static %}
<div class="container border rounded" style="background-color: #a3c2c2">
	<div>
		<h2 class="text-center btn-primary border rounded"><big><b class="text-center">Model Four</b></big></h2>
	<div class="text-center">
		<h2><b>Bajaj Pilsar NS160</b></h2>
		<img src="{% static 'images/bike2.jpg' %}" height="400px" width="55%" class="border rounded">
	</div>
		<big>
			<h6 style="margin-left: 20px"><b>Manufacture</b>   :   Bajaj Auto Company</h6>
			<h6 style="margin-left: 20px"><b>Also called</b>   :   Bajaj Motors</h6>
			<h6 style="margin-left: 20px"><b>Production</b>    :   2001-present</h6>
			<h6 style="margin-left: 20px"><b>Predecessor</b>   :   Bajaj Pilsar NS160</h6>
			<h6 style="margin-left: 20px"><b>Class</b>         :   Standard, Mini sport</h6>
			<h6 style="margin-left: 20px"><b>Cost</b>          :   90,000</h6>
			<h6 style="margin-left: 20px"><b>Engine</b>        :   125/135/150/160/180/200/220 cc <br> Air-cooled/oil-cooled/liquid cooled</h6>
		</big><br>
		<a href="{% url 'cor' %}" class="btn btn-success">Book Now</a>
		<a href="{% url 'hm' %}" class="btn btn-success" style="margin-left: 800px">Go To Home Page</a><br>
		<p>
			The Bajaj Pulsar is a motorcycle manufactured by Bajaj Auto in India. It was developed by the product engineering division of Bajaj Auto in association with Tokyo R&D,[1] and later with motorcycle designer Glynn Kerr. A variant of the bike, the Pulsar 200NS was launched in 2012, but it was suspended for some time (reintroduced in early 2017 with BS IV Emission compliance and renamed the NS200).[2] With average monthly sales of around 86,000 units in 2011, Pulsar claimed a 2011 market share of 47% in its segment.[3] By April 2012, more than five million units of Pulsar were sold.[4] In 2018, they celebrated selling over ten million Pulsars backed an exclusive TV commercial and a marquee ride to in 6 cities to write "PULSAR" on a pre-defined route.<br>

			Before the introduction of the Pulsar, the Indian motorcycle market trend was towards fuel efficient, small capacity motorcycles (that formed the 80–125 cc class). Bigger motorcycles with higher capacity virtually did not exist (except for Royal Enfield Bullet with 350cc and 500cc variants). The launch and success of Hero Honda CBZ in 1999 showed that there was demand for performance bikes. Bajaj took the cue from there on and launched the Pulsar twins (150cc and 180cc) in India on 24 November 2001.[5] Since the introduction and success of Bajaj Pulsar, Indian youth began expecting high power and other features from affordable motorcycles.<br>

			The project faced internal resistance, reservations by McKinsey & Company and doubts on its effects on Bajaj's relation with Kawasaki. The project took approximately 36 months for completion and cost Bajaj ₹ 1 billion.[6]
		</p>
		<p>
			<h3>DTSi</h3>
			DTSi stands for Digital Twin Spark Ignition, a Bajaj Auto trademark. Bajaj Auto holds an Indian patent for the DTSi technology. The Alfa Romeo Twin-Spark engines, the BMW F650 Funduro which was sold in India from 1995 to 1997 also had a twin-spark plug technology, and the Rotax motorcycle engines, more recently Honda's iDSI Vehicle engines use a similar arrangement of two spark-plugs. However very few small capacity engines did eventually implement such a scheme in their production prototypes.<br>
			<h3>Patent infringement</h3>
			In September 2007, Bajaj Auto filed a claim accusing that the development of TVS Flame was in violation of their patent for DTS-I.[33] TVS Motors decided to sue Bajaj Auto for libel.[34][35] In February 2008, the Madras High Court in Chennai restrained TVS from launching it with the twin spark plug technology.[36] TVS appealed against this decision, claiming that crucial evidence was not taken into account[37] and in March 2008, launched the Flame with a modified engine containing one spark plug.[38] The DTSi idea is a simple one to understand – it involved usage of two spark plugs (instead of one) per engine cylinder. On 16 September 2009, the Supreme Court of India permitted TVS Motors to manufacture and sell the 125 cc TVS Flame with Twin Spark Technology[39] till the pendency of the suit before the Madras High Court, but it shall maintain accurate records of its sales all over the country.
		</p>
		<br>
		<marquee behavior="scroll" direction="right" class="btn btn-dark" style="background-color: #0000b3">The Bikes Showroom will Give Excellent Models</marquee>
	</div>
</div>
{% endblock %}
