{% extends 'sd/base.html' %}
{% block title %} Profile {% endblock %}
{% block content %}
{% load static %}
<div class="container border rounded" style="background-color: #ff944d">
	<div>
		<h2 class="text-center btn-primary border rounded"><big><b class="text-center">Model Three</b></big></h2>
	<div class="text-center">
		<h2>Suzuki </h2>
		<img src="{% static 'images/need6.jpg' %}" height="400px" width="55%" class="border rounded">
	</div>
		<big>
			<h6 style="margin-left: 20px"><b>Manufacture</b>   :   Suzuki Company</h6>
			<h6 style="margin-left: 20px"><b>Also called</b>   :   GSX1300R,'Busa[1]Toyokawa Plant, Toyokawa</h6>
			<h6 style="margin-left: 20px"><b>Assembly</b>      :   Toyokawa Plant, Toyokawa,Aichi,japan <br> Suzuki Gurdon Plant Gurgaron,india</h6>
			<h6 style="margin-left: 20px"><b>Cost</b>         :   85,000</h6>
			<h6 style="margin-left: 20px"><b>Class</b>         :   Sportbike</h6>
		</big><br>
		<a href="{% url 'cor' %}" class="btn btn-success">Book Now</a>
		<a href="{% url 'hm' %}" class="btn btn-success" style="margin-left: 800px">Go To Home Page</a><br>
		<p>
			A sportbike, or sports bike, is a motorcycle optimized for speed, acceleration, braking, and cornering on paved roads, typically at the expense of comfort and fuel economy by comparison with other motorcycles.[1] Soichiro Honda wrote in the owner's manual of the 1959 Honda CB92 Benly Super Sport that, "Primarily, essentials of the motorcycle consists in the speed and the thrill," while Cycle World's Kevin Cameron says that, "A sportbike is a motorcycle whose enjoyment consists mainly from its ability to perform on all types of paved highway – its cornering ability, its handling, its thrilling acceleration and braking power, even (dare I say it?) its speed."<br>

			Motorcycles are versatile and may be put to many uses as the rider sees fit.[3] In the past there were few if any specialized types of motorcycles, but the number of types and sub-types has proliferated, particularly in the period since the 1950s.[4] The introduction of the Honda CB750 in 1969 marked a dramatic increase in the power and speed of practical and affordable sport bikes available to the general public.<br>


			The groundbreaking inline four of the Honda CB750.
			This was followed in the 1970s by improvements in suspension and braking commensurate with the power of the large inline fours that had begun to dominate the sport bike world. In the 1980s sport bikes again took a leap ahead, becoming almost indistinguishable from racing motorcycles.[6] Since the 1990s sport bikes have become more diverse, adding new variations like the naked bike and streetfighter to the more familiar road racing style of sport bike.[4][7][8]
		</p>
		<br>
		<marquee behavior="scroll" direction="right" class="btn btn-dark" style="background-color: #0000b3">The Bikes Showroom will Give Excellent Models</marquee>
	</div>
</div>
{% endblock %}
